@charset "utf-8";

/* 변수 선언 */
:root {
  --font-size-16: 1rem;
  --font-size-17: 1.063rem;
  --font-size-17.6: 1.1rem;
  --font-size-20: 1.25rem;
  --font-size-22: 1.375rem;
  --font-size-24: 1.5rem;
  --font-size-56: 3.5rem;
  --font-size-count: 4.125rem;
  --font-size-title: 2.875rem;

  --point-color: #fe6666;
  'RobotoFlex'--main-font: "IropkeBatang", sans-serif;
  --sub-font: "Roboto Flex", sans-serif;
}
