@charset "utf-8";

/* html link 속성으로 media 연결시 css 문서 내의 @media () {} 필요 없음 */
h1 {
  background-color: #c539b4;
  padding: 50px;
}

h2 {
  display: none;
}

.container {
  flex-direction: row;
}

.container .box {
  flex-grow: 1;
  /* width: 33.3333%; */
  /* aspect-ratio: 1; */
}
