@charset "utf-8";
/* reset */
@import url(../common/minireset.min.css);


@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Noto+Sans+KR:wght@400;700&display=swap');

main {
  height: 3000px;
  padding-top: 200px;
  font-weight: bold;
  font-size: 50px;
}
li {
  display: inline-block;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: midnightblue;
}
::-webkit-scrollbar-thumb {
  background-color: crimson;
  box-shadow: 0 4px 10px #fff;
}

.wrapper {
  width: 100%;   height: 110px;
  background-color:#D4447A ;
  position: fixed;
  top:0;
  left: 0;
}

/***** header *****/
header {
  /* background-color: blue; */
  font-family: 'Noto sans KR', '맑은 고딕', 돋움, sans-serif;
  font-weight: 400;
  text-align: center;

  max-width:1200px;
  min-width: 900px;
  height: 110px;

  position: relative; /* 현재 요소의 흐름에 영향을 주지 않고 자식 포지션의 기준이 됨 */
  margin: 0 auto;
}
/* 로고 */
header h1 {
  background-color: #F6F54F;
  font-weight: 700;
  font-size: 30px;
  width:150px ; height:60px ;
  line-height: 60px;
  position: absolute;
  left: 10px; bottom: 10px;
}
header h1 a {
  color:#D4447A;
}
/* 유틸 */
header .utill {
  background-color:#F6F54F;
  position: absolute;
  right:10px ; top:0;
  padding: 2px 4px;
}
header .utill li {
  color:#222;
  /* vertical-align: middle; */
  padding: 0 14px;
  position: relative;
}
header .utill .line::after {
  content: "";
  background-color: #222;
  width:1px ; height: 14px;
  position: absolute;
  top:0; bottom: 0;
  right: -3px;
  margin: auto;
}
header .utill a {
  color:#222;
}
header .utill a:hover {
  color:#D4447A;
}
header .gnb {
  font-family:'Lobster Two','Times New Roman', Times, serif ;
  background-color:blueviolet;
  padding-left: 0; margin: 0;
  position: absolute;
  right: 10px; bottom: 14px; 
}
header .gnb li a {
  text-transform: capitalize;
  color:white;
  font-size: 26px;
  display: block;
  padding: 10px 30px;
}
header .gnb li a:hover {
  background-color:white;
  color:#222;
}