@charset "utf-8";

/* common */
body {
  font-family: var(--main-font);
  text-transform: capitalize;
  text-align: center;
  /* 한글 자연스럽게 띄어쓰는거 두개 셋트 */
  word-break: break-all;
  overflow-wrap: break-word;
}
img {
  width: 100%;
}
.lower-case {
  text-transform: lowercase;
}
.flex {
  display: flex;
}
.more-btn {
  transition: 0.5s;
  background-color: var(--point-color);
  padding: 10px 30px;
  color: #fff;
  font-size: var(--font-size-14);
  display: inline-block;
}
.more-btn:hover {
  border-radius: 30px;
}
.block-line {
  display: block;
}
