@charset "utf-8";

@keyframes gradient1{
  30% {
    background-position: 0 50%;
    background-image: linear-gradient(-225deg,#C04A82,#DC8449,#FDD36A);
  }
  60% {
   background-position: 100% 50% ;
   background-image: linear-gradient(-225deg,#C04A82,#DC8449,#FDD36A);
  }
  100% {
   background-position: 0 30%;
   background-image: linear-gradient(-225deg,#C04A82,#DC8449,#FDD36A);
  }
}