@charset "utf-8";
body {
  margin: 0;
}
.container {
  border: 1px solid #000;
  margin: 0 auto;
  width: 1040px;
  padding: 20px;
}
.container .border {
  border: 1px #000 solid;
  padding: 20px;
  margin: 10px;
}
.container aside {
  width: 200px; height: 170px;
  float: left;
  background-color: #000;
  color: #fff;
}
.container article {
  width: 450px;
  float: left;
}
.container footer {
  clear: both;
}
